
@{

}
<body>
    <div class="">
        <!-- About Us Header -->
        <div class="row mt-4">
            <div class="col">
                <h1 class="text-center">About Us</h1>
            </div>
        </div>

        <!-- Company Introduction -->
        <div class="row mt-4">
            <div class="col">
                <p class="lead text-center">Welcome to Our E-Commerce Store! We are dedicated to bringing you the best products at the best prices. Our mission is to provide exceptional customer service and quality merchandise.</p>
            </div>
        </div>

        <!-- Our Story -->
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Our Story</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Etiam porttitor finibus. In hac habitasse platea dictumst. Nullam vehicula ipsum a arcu cursus vitae. Integer at volutpat.</p>
            </div>
            <div class="col-md-6">
                <img src="https://assets-global.website-files.com/607ee530dd59915d46108839/63383b6ac6e89f46789884f6_blog_00109_13.jpg" alt="Our Story Image" class="img-fluid ">
            </div>
        </div>

        <!-- Our Values -->
        <div class="row mt-4">
            <div class="col">
                <h2>Our Values</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Etiam porttitor finibus. In hac habitasse platea dictumst. Nullam vehicula ipsum a arcu cursus vitae. Integer at volutpat.</p>
            </div>
        </div>

        <!-- Meet the Team -->
        <div class="row mt-4">
            <div class="col  text-center">
                <h2>Meet the Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4 team-member" >
                <div class="card">
                    <img src="https://img.freepik.com/premium-photo/portrait-happy-young-man-standing-with-arms-folded_171337-38370.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1714435200&semt=ais" class="card-img-top" alt="Team Member 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">Jane Doe</h5>
                        <p class="card-text">CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 team-member" >
                <div class="card">
                    <img src="https://t3.ftcdn.net/jpg/03/05/77/64/360_F_305776453_t7SUl48g63zLsyODxd60aj6EcWR9avVK.jpg" class="card-img-top" alt="Team Member 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">John Smith</h5>
                        <p class="card-text">CTO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 team-member" >
                <div class="card">
                    <img src="https://www.shutterstock.com/image-photo/horizontal-close-portrait-man-beard-260nw-343175831.jpg" class="card-img-top" alt="Team Member 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Sara Johnson</h5>
                        <p class="card-text">CFO</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4 team-member" >
                <div class="card">
                    <img src="https://t3.ftcdn.net/jpg/02/85/98/32/360_F_285983211_MgoZj1sj9Rfou8GRHtCvHtdgyEMxGEFS.jpg" class="card-img-top" alt="Team Member 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">Jane Doe</h5>
                        <p class="card-text">CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 team-member" >
                <div class="card">
                    <img src="https://t4.ftcdn.net/jpg/05/58/99/37/360_F_558993708_t144iGxwaXV1URjTUsyQW23HI49Jj6hh.jpg" class="card-img-top" alt="Team Member 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">John Smith</h5>
                        <p class="card-text">CTO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 team-member" >
                <div class="card">
                    <img src="https://t3.ftcdn.net/jpg/02/68/56/00/360_F_268560006_F2fIixDnlVRNGwCyne9EMQJhaAxalKTq.jpg" class="card-img-top" alt="Team Member 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Sara Johnson</h5>
                        <p class="card-text">CFO</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="row mt-4">
            <div class="col">
                <h2>Contact Us</h2>
                <p>If you have any questions, feel free to reach out to us at <a href="mailto:contact@ecommerce.com">contact@ecommerce.com</a>.</p>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>






@* 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

      
        /* .container {
            margin: 20px auto;
            max-width: 960px;
            padding: 0 20px;
        }
 */
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
            text-align : center;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
         

    .img{
        width : 100%;
        margin-bottom : 20px;
    }

        .team-members {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 20px;
            text-align : center;
            margin-top : 40px;
        }

        .team-member {
            flex-basis: calc(33.33% - 20px);
            text-align: center;
        }

            .team-member img {
                width: 200px;
                height: auto;
                border-radius: 50%;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .team-member h3 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .team-member p {
                font-size: 16px;
                margin-bottom: 10px;
            }
    </style>
</head>

<body style="width : 100%">
  
    <div>
        <img class="img" src="https://cdn.shopify.com/s/files/1/0070/7032/files/ecommerce_20platforms.png?v=1701447416" />
    </div>

    <div class="container">
        <h1 style="text-align:center">Welcome to Our Online Store!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida magna lorem, id tempus justo fringilla
            ut. Sed fringilla faucibus mi, vel mollis dolor mollis ac. Nulla facilisi. Integer vel magna pellentesque,
            posuere dolor vel, auctor tellus. Nullam eu rhoncus mauris. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Ut tempus dolor et lectus bibendum, a condimentum nulla pulvinar.
            Fusce urna nisl, gravida et elit vel, cursus fermentum elit. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.
        </p>

        <div class="image-wrapper">
@*             <img src="./images/e_commerce.jpg" >
        </div>

        <h1>Meet Our Team</h1>
        <div class="team-members">
            <div class="team-member">

                <h3>John Doe</h3>
                <p>Co-Founder</p>
            </div>
            <div class="team-member">
                <h3>Jane Smith</h3>
                <p>Marketing Manager</p>
            </div>
            <div class="team-member">
                <h3>David Johnson</h3>
                <p>Customer Support</p>
            </div>
        </div>
    </div>

</body>

</html> *@